<!DOCTYPE html>
<html>
<head>
<title>Mi Currículum</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>


<body>
  <header>
    <div class="profile-img"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMkgrAMtWOkCDYO5hisNl0_dDD4TFS0ed1r9zHyug7-A&s" alt="123"></div>
      <h1>Mi Nombre : Yogher Jose Corrales Dominguez</h1>
  </header>
  <section id=”about”>
        <h1>Datos Personales</h1>
            <li>Fecha de nacimiento : 12/08/2004</li>
            <li>Edad : 19</li>
            <li>Cedula de Identidad : 30.463.957</li>
            <li>Estudiante : Ingenieria en Informatica</li>
  </section>
    <section id=”education”>
      <h1>Formacion Academica</h1>
        <ul>
          <li>Universidad "UNERG"  Cursando Actualmente</li>
          <li>Liceo "Luis Barrio Cruz"</li>
          <li>Escuala "Republica Bolivariana de Brasil"</li>
        </ul>
    </section>
    <section id=”experience”>
      <h2>Experiencia Laboral</h2>
        <ul>
          <li>SuperNova y Telecomunicaciones, Departamento de Ventas</li>
          <li>Puesto de Comida Rapida, Atencion de clientes</li>
        </ul>
    </section>

    <section id=”experience”>
      <h2>Enlace de Redes Sociales</h2>
        <ul>
          <p><a href="https://www.instagram.com/yxgherc_22/" target="_blank">Instagram</a></p>
          <p><a href="https://www.facebook.com/yogerjose.corralesdomonguez/?locale=es_LA" target="_blank">Facebook</a></p>
          <p><a href="https://youtu.be/NmtlwZivmeA" target="_blank">Youtube</a></p>
        </ul>
    </section>
    <section id=”skills”>
        <h2>Habilidades</h2>
          <ul>
            <l1>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Word</li>
            <li>Excel</li>
            <li>Powerpoint</li>
          </ul>
    </section>
    <footer>
      <p>Correo: Yogherjose@gmail.com | Teléfono: 0412-4715517</p>
    </footer>
</body>
</html>