body {
  background-image: url(https://w.wallhaven.cc/full/0p/wallhaven-0p2ve4.jpg);
  background-size: cover;
  margin: 0;
  height: 100vh; 
}

h1{
  text-align: center;
  font-family: "Poppins";
  font-size: 30px;
  color: #7c4a7b;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 70px;
  border: 1px solid #0b0b0c;
  border-radius: 40px;
  background-color:#53587c ;
  font-family: "Poppins";
  background-image: url(https://w.wallhaven.cc/full/0p/wallhaven-0p2ve4.jpg);
  background-size: cover;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #222179;
  border-radius: 3px;
}

input[type="submit"] {
  background-color: #24229b;
  color: #f1f1f1;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
}

input[type="submit"]:hover {
  background-color: #551c53;
}